/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    height: 100%;
    margin: 0;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 0px;
    font-size: 18px;
    font-family: 'Lobster', cursive
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

p#result {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}