body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

header .auth-buttons {
    display: flex;
    gap: 10px;
}

header .auth-buttons .explore,
header .auth-buttons .login {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header .auth-buttons .explore {
    background-color: #f0f0f0;
    color: black;
}

header .auth-buttons .login {
    background-color: #0047ab;
    color: white;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.hero {
    position: relative;
    text-align: left;
    color: white;
    background: url('2.jpg') no-repeat center center/cover;
    height: 80vh; /* Adjust the height as needed */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.hero-text {
    background: rgba(0, 0, 0, 0.3); /* Optional: Adds a dark overlay for better text readability */
    text-align: left;
    color: white;
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.hero h2 {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
}

.hero p {
    margin: 10px 0 0;
    font-size: 1.5em;
}

.hero-text .highlight-orange {
    color: #d1881d; /* Orange color */
}

.hero-text p {
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 40px;
}

.hero-buttons {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: white;
    color: #002D62; /* Dark blue color */
}

.btn-primary:hover {
    background-color: #f0f0f0;
}

.btn-secondary {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.search-container {
    position: absolute;
    bottom: -45px; /* Adjust this value to control how much of the search box is below the image */
    width: 100%;
    display: flex;
    justify-content: center;
}

.tracking {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* White background with transparency */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
/*    margin-top: 20px;*/
    border-radius: 5px;
}

.tracking-left {
    background: linear-gradient(135deg, rgba(209, 136, 29, 0.7) 0%, rgba(255, 193, 7, 0.7) 100%); /* Gradient background with transparency */
    color: #fff;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}


.tracking-right {
    display: flex;
    align-items: center;
    padding: 30px;
}

.search-box {
    display: flex;
    gap: 10px;
    background: rgba(255, 255, 255, 0.8); /* Light background for contrast */
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow for better visibility */
}


.tracking-right input {
    padding: 10px;
    width: 200px;
    border: none; ;
    margin-right: 10px;
    border-radius: 5px;
}

.tracking-right button {
    background-color: #0047ab; /* Dark blue background color */
    color: #fff;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}


/*.search-box input,
.search-box .search-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-box input {
    flex: 1;
}

.search-box .search-button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    flex-shrink: 0;
}
*/


.commitment-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

.images {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.images img {
    width: 260px;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-content {
    margin-left: 20px;
    text-align: left;
}

.text-content h1 {
    font-size: 2em;
    color: #002D62; /* Dark blue color */
}

.text-content .highlight {
    color: #d1881d; /* Orange color */
}

.text-content p {
    font-size: 1em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
}

.text-content .learn-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #002D62; /* Dark blue color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.text-content .learn-more:hover {
    background-color: #004080; /* Slightly lighter blue */
}



.features-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 100px;
    background-color: #fff;
    background-image: url('path/to/your/background-image.jpg'); /* Add background image path */
    background-size: cover;
    background-position: center;
}

.feature {
    flex: 1;
    margin: 0 20px;
    text-align: left;
}

.feature h2 {
    font-size: 1.5em;
    color: #002D62; /* Dark blue color */
    margin-bottom: 10px;
}

.feature p {
    font-size: 1em;
    color: #333;
    margin-top: 10px;
}


.service-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
    background-color: #fff;
/*    background-image: url('path/to/your/background-image.jpg');*/ /* Add background image path */
    background-size: cover;
    background-position: center;
}

.s-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.service-header {
    flex: 1;
}

.subtitle {
    font-size: 0.9em;
    color: #d1881d; /* Orange color */
    margin-bottom: 10px;
}

.service-title {
    font-size: 2em;
    margin: 0;
}

.service-title .highlight-blue {
    color: #002D62; /* Dark blue color */
}

.service-title .highlight-orange {
    color: #d1881d; /* Orange color */
}

.service-content {
    flex: 2;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid #002D62; /* Dark blue vertical line */
}

.service-content p {
    font-size: 1em;
    color: #333;
    margin: 0;
}


.top-parks, .recommended-accommodations, .special-offers {
    padding: 50px;
    text-align: center;
}

.park-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.park-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    background-color: #fff;
}

.top-parks {
    padding: 20px;
    text-align: center;
}

.park-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 20px;
}

.park-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    background-color: #fff;
}

.park-card:nth-child(1) {
    grid-column: 1;
    grid-row: span 2;
}

.park-card:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.park-card:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}

.park-card:nth-child(4) {
    grid-column: 3;
    grid-row: span 2;
}

.park-card:nth-child(5) {
    grid-column: 4;
    grid-row: 1;
}

.park-card:nth-child(6) {
    grid-column: 4;
    grid-row: 2;
}

.park-card img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.park-card p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
}

.park-card:hover {
    transform: scale(1.05);
}

@media (max-width: 1200px) {
    .park-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .park-card:nth-child(1),
    .park-card:nth-child(4) {
        grid-column: span 2;
    }

    .park-card:nth-child(5),
    .park-card:nth-child(6) {
        grid-column: span 1;
    }
}

@media (max-width: 768px) {
    .park-cards {
        grid-template-columns: 1fr;
    }

    .park-card {
        grid-column: span 1;
    }

    .park-card:nth-child(1),
    .park-card:nth-child(2),
    .park-card:nth-child(3),
    .park-card:nth-child(4),
    .park-card:nth-child(5),
    .park-card:nth-child(6) {
        grid-row: span 1;
    }
}




.accommodation-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.accommodation-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

 .accommodation-card img {
    width: 200px;
    height: 200px;
    border-radius: 8px 8px 0 0;
}

.accommodation-card p {
    margin: 10px 0;
    font-size: 16px;
}
.accommodation-card:hover {
    transform: scale(1.05);
}


.special-offers .join-now {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}




footer {
    background-color: #f4f4f4;;
    padding: 20px 40px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #000;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}


